body {
  margin: 0;
  padding: 0;
  background: #9a40a7; /* Arka plan rengini mor olarak ayarladım */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

#unity-container {
  position: relative;
  width: 100%;
  max-width: 400px;
  aspect-ratio: 9 / 16;
  background: #ad28c2;
  border: 5px solid #ffffff; /* Beyaz çerçeve */
  border-radius: 20px;
  overflow: hidden;
}

#unity-canvas {
  width: 100%;
  height: 100%;
}

#bottom-section {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #ad28c2; /* Alt bar için siyah zemin */
  padding: 30px 0;
}

#money-link {
  display: inline-block;
  margin-bottom: 10px;
}

#clickable-image {
  width: 300px;
  height: 450px;
  cursor: pointer;
  transition: transform 0.2s;
}


#money-for-view {
  font-size: 20px;
  color: rgb(255, 60, 0);
  font-weight: bold;
  margin: 1px 0;
}
#money-for-view2 {
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin: 1px 0;
}

#adButton {
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 270px;
  height: 80px;
  font-size: 20px;
  color: #000;
  background-color: #4dff00; /* Buton rengini yeşil olarak ayarladım */
  border: none;
  border-radius: 10px;
  cursor: not-allowed;
  transition: background-color 0.3s, transform 0.2s;
  z-index: 10;
}

#adButton.enabled {
  background-color: #4dff00;
  cursor: pointer;
}

#adButton:hover.enabled {
  background-color: #109442;
}

#small-button {
  position: absolute;
  top: 3%;
  right: 32%;
  width: 140px;
  height: 50px;
  font-size: 12px;
  color: white;
  background-color: #ff5722;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10;
}

#small-button:hover {
  background-color: #e64a19;
}


#vastVideo {
  display: none;
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 75%;
  background: #000;
  border: 2px solid #fff;
  border-radius: 10px;
  z-index: 15;
}

#vastVideo::-webkit-media-controls,
#vastVideo::-moz-media-controls,
#vastVideo::-ms-media-controls {
  display: none !important;
}
span {
  font-size: 12px;
  color: white;
}